<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="google-site-verification" content="aME2gyxMcmZ0EOZpYVBQVtY9G43ho_fnzs2XdXRb0xw" />
<!-- SEO Meta Tags -->
<meta name="description"
  content="Vanrai adventures is a top tour and treks service company in maharastra. We provide wide range of packages for tours and treks such as Harishchandragad-Trek, kokankada" />
<meta name="keywords"
  content="vanrai,vanrai adventures,Harishchandragad,kokankada,trek,Harishchandragad-Trek,sahyadri,trekking,sandhan velley,monsoon treks " />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
<meta property="og:site_name" content="vanraiadventures" />
<!-- website name -->
<meta property="og:site" content="Vanrai Adventures" />
<!-- website link -->
<meta property="og:title" content="Get in touch with Vanrai Adventures" />
<!-- title shown in the actual shared post -->
<meta property="og:description" content="Vanrai adventures is a top tour and treks service company in maharastra" />
<!-- description shown in the actual shared post -->
<meta property="og:image" content="" />
<!-- image link, make sure it's jpg -->
<meta property="og:url" content="https://vanraiadventures.in/" />
<!-- where do you want your post to link to -->
<meta property="og:type" content="article" />
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
  rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
  rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.css" />

<% if(page=="index" ){%>
  <title>Vanrai Adventures</title>
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.magnific-popup.min.js" />
  <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
  <% } %>
    <% if(page=="service" ){%>
      <title>Vanarai Adventures provides different services such as camping , food, trek guide with essential equipments
        etc.</title>
      <% } %>
        <% if(page=="packages" ){%>
          <title>Vanarai Adventures tours and trekking packages
          </title>
          <meta name="description" content=">Vanarai Adventures provides variety of tours and trekking packages which includes
            Harishchandragad-trek,alang-madan-kulang-trek,sandhan-valley-trek,monsoon
            treks and many other packages." />
          <% } %>
            <% if(page=="contact" ){%>
              <title>Vanarai Adventures : Contact us via provided phone number and email</title>
              <% } %>
                <% if(page=="gallery" ){%>
                  <title>Vanrai Adventures: gallery</title>
                  <% } %>

                    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
                    <link rel="stylesheet" type="text/css" href="/css/date.css" />

                    <!-- Favicon  -->
                    <link rel="icon" href="/images/favicon.png" />