<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/date.css" rel="stylesheet" type="text/css" />

    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"
      rel="stylesheet"
      type="text/css"
    /> -->
    <title>Document</title>
  </head>
  <body>
    <label>Select Date: </label>
    <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
      <input class="form-control" type="text" readonly />
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-calendar"></i
      ></span>
    </div>
    <pre>
    <b>Note:</b>
    using <a href="getbootstrap.com/">bootstrap 3.2.0</a> and <a href="https://github.com/eternicode/bootstrap-datepicker">eternicode bootstrap-datepicker</a>
    </pre>
    <pre>
    <b>@import css</b>
    &lt;link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    &lt;link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    </pre>
    <pre>
    <b>@import js</b>
    jQuery.js
    &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">&lt;/script>
    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js">&lt;/script>
    </pre>
    <label>Select Date: </label>
    <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
      <input class="form-control" type="text" readonly />
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-calendar"></i
      ></span>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/date.js"></script>
    <!-- <script src="/js/bootstrap-datepicker.min.js"></script> -->
    <script>
      var enableDays = '24-01-2022, 20-01-2022, 22-01-2022, 29-01-2022'.split(
        ', '
      );
      function formatDate(d) {
        var day = String(d.getDate());
        //add leading zero if day is is single digit
        if (day.length == 1) day = '0' + day;
        var month = String(d.getMonth() + 1);
        //add leading zero if month is is single digit
        if (month.length == 1) month = '0' + month;
        return day + '-' + month + '-' + d.getFullYear();
      }

      $(function () {
        $('#datepicker').datepicker({
          maxViewMode: 2,
          weekStart: 1,
          startDate: '+1d',
          beforeShowDay: function (date) {
            if (enableDays.indexOf(formatDate(date)) < 0)
              return {
                enabled: false,
              };
            else
              return {
                enabled: true,
              };
          },
          todayHighlight: true,
          format: 'dd-mm-yyyy',
          clearBtn: true,
          autoclose: true,
        });
      });
    </script>
  </body>
</html>
